<!-- TOPO DA HOME-->
<div class="container">
      <div class="content-box mt-3 p-3">
        <div class="content-caption">
          <h2 class="first">Sua saúde</h2>
          <h2 class="second">Em primeiro lugar!</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
         <p> Cadastre-se para se tornar um membro da nossa comunidade médica</p>
         <button class="btn btn-primary btn-lg fw-bold text-light  " >Cadastrar </button>
        </div>
          <div class="img-box">
            <img class="main-img" src="../../assets/Images/Group.png" alt="">
          </div>
      </div>
</div>


  <div class="container">
    <section class="benefits-section">
      <div class="card mb-2 mt-3 mx-2 card-container shadow-lg p-3 mb-5 bg-body-tertiary rounded"  >
        <img src="../../../assets/Images/ambulance.png" class="card-image" alt="">
        <p class="card-text text-center mt-2">Ambulância de emergência.</p>
      </div>
      <div class="card mb-2 mt-3 mx-2 card-container shadow-lg p-3 mb-5 bg-body-tertiary rounded"  >
        <img src="../../../assets/Images/labs.png" class="card-image card-img-top" alt="">
        <p class="card-text text-center mt-2">Laboratórios bem preparados</p>
      </div>
      <div class="card mb-2 mt-3 mx-2 card-container shadow-lg p-3 mb-5 bg-body-tertiary rounded"  >
        <img src="../../../assets/Images/chat.png" class="card-image card-img-top" alt="">
        <p class="card-text text-center mt-2">Suporte 24/7</p>
      </div>
      <div class="card mb-2 mt-3 mx-2 card-container shadow-lg p-3 mb-5 bg-body-tertiary rounded"  >
        <img src="../../../assets/Images/message.png" width="40px" class=" " alt="">
        <p class="card-text text-center mt-2">Atendimento virtual</p>
      </div>
    </section>
  </div>

  <footer>
    <div class="navbar bg-body-tertiary mt-3 p-5">
      <div class="container-fluid container newsletter   ">
        <span class=" newsletter-text mx-3">Inscreva-se na nossa newsletter para receber promoções e novidades</span>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Cadastrar">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </footer>
