<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow">
    <div class="container-fluid">
      <img src="../../../assets/Images/logo.png" height="30px" alt="Logo contendo o texto doctify">
      <div class="navbar-collapse collapse d-sm-inline-flex">
        <ul class="navbar-nav flex-grow-1">
          <li class="nav-item"><a href="" class="nav-item" >Home</a>  </li>
          <li class="nav-item"><a href="" class="nav-item" >Agendamento</a>  </li>
          <li class="nav-item"><a href="" class="nav-item" >Agendamento Configuração </a>  </li>
          <li class="nav-item"><a href="" class="nav-item" >Beneficiários</a>  </li>
          <li class="nav-item"><a href="" class="nav-item" >Especialidades</a>  </li>
          <li class="nav-item"><a href="" class="nav-item" >Hospitais</a>  </li>
          <li class="nav-item"><a href="" class="nav-item" >Profissionais</a>  </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
