@import url("https://fonts.googleapis.com/css?family=Raleway");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer div {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Raleway";
}
